      :root  {
            --headerFontSize: 1.5rem;
            --headerPadding: 0.5rem;
            --navFontSize: 1.2rem;
            --navPadding:0.5rem;
            --footerFontSize: 1.2rem;
            --footerPadding: 0.5rem;

            --main-color: #ffffff;
            --text-color: #000000;
            --highlight-color: #B3C4DE;

            --nav-link: rgba(0, 0, 17, 0.6);
            --nav-link-selected: rgba(0, 0, 17, 1);
            --nav-underline: rgba(0, 0, 17, 0.1);
            --nav-underline-hover: rgba(0, 0, 17, 1);

            --timing: 0.25s;
            --bezier: cubic-bezier(0.215, 0.61, 0.355, 1);
        }



        body {
        	font-family: 'Cormorant Garamond', sans-serif;
        	font-size: 20px;
          font-weight: 300;
        	line-height: 40px;

        	background-color: var(--main-color);
        	color: var(--text-color);
          max-width: 1200px;
          margin: 0 auto;

        }

        ::selection {
            background: #E7FB47;
            background-color: black;
            color: white;
          }

        header {
            font-size: var(--headerFontSize);
            padding: var(--headerPadding);

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        main {
            font-size: 1rem;

            text-align: center;
            height: calc(
                  90vh
                  - var(--headerFontSize)
                  - (2 * var(--headerPadding))
                  - var(--footerFontSize)
                  - (2 * var(--footerPadding))
              );
            overflow-y: auto;

            transform: translate(0, 0);
            transition: transform 0.5s;
        }

        .full {
          grid-column: span 6;
        }

        .full-img {
          height: calc(
                90vh
                - var(--headerFontSize)
                - (2 * var(--headerPadding))
                - var(--footerFontSize)
                - (2 * var(--footerPadding))
            );
          width: 100%;
          object-fit: cover;
        }


        footer {
            font-size: var(--footerFontSize);
            padding: var(--footerPadding);
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        body.nav-open main {
          transform: translate(-100px, 0);
        }

      h1 {
        font-size: 24px;
        font-weight: 100;
        text-transform: uppercase;
      }

      a {
        color: var(--text-color);
        font-size: var(--navFontSize);
        text-decoration: none;
        transition: color var(--timing) var(--bezier);
        padding-left: var(--headerPadding);
        text-decoration: none;
      }

      a:hover,
      a.selected {
        border-bottom-color: var(--nav-underline-hover);
        color: var(--highlight-color);
      }

      section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
      }


/* pages */



ul {
  text-transform: capitalize;
  list-style: none;
  text-align: left;
  padding: 1.4rem 1rem ;
  line-height: 1.4rem;
}

  .swiper-container {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
  }

  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
  }

  div.swiper-button-next,
  div.swiper-button-prev,
  div.swiper-button-next:after,
  div.swiper-button-prev:after {
    color: var(--highlight-color);
    font-size: var(--navFontSize);
  }

  div.series ul li {
    padding: 0.5em;
  }

  div.slider {
  display: grid;
  grid-template-rows: 160px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 20px;
}

img {
  grid-column: span 1;
  grid-row: span 2 ;
}

#video div.vid {
  width: 70%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

section.contact {
  justify-content: center;
  align-items: center;
}

div.img img {
  width: 25vw;
}

a.menu-toggle{
  display: none;
}


.fade-leave-active,
.fade-enter-active,
.fade-once-active {
  transition: opacity var(--timing) var(--bezier), transform var(--timing) var(--bezier);
}

.fade-leave {
  opacity: 1;
  transform: translate(0,0);
}

.fade-leave-to {
  opacity: 0;
  transform: translate(0,30px);
}

.fade-enter,
.face-once {
  opacity: 0;
  transform: translate(0,30px);
}

.fade-enter-to,
.fade-once-to {
  opacity: 1;
  transform: translate(0,0);
}


@media (max-width: 800px) {

  a.menu-toggle {
    display: block;
    top: 32px;
    right: 32px;
    z-index: 2;
  }

  a.menu-toggle rect {
    fill: var(--text-color);
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: var(--main-color);
    padding: 48px;
    transform: translate(100%, 0);
    transition: transform 0.5s 0s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 1;
  }

  nav.fake-back {
    background-color: var(--text-color);
    transition-delay: 0.2s;
  }

  body.nav-open nav {
    transform: translate(0, 0);
    transition-delay: 0.2s;
  }

  body.nav-open nav.fake-back {
    transition-delay: 0s;
  }

  nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav div.internal {
    line-height: 44px;
    flex: 1;
  }




#index {
    background-size: cover;
    background-position: 80% 5%;
  }

section.photo,
section.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.contact div {
  width: 80%;
}

div.img img {
  width: 100vw;
}

div.series ul {
  display: flex;
}
div.series ul li {
  padding: 1em;
}

}


@keyframes fade {
  0% {
  opacity: 0;
  transform: translate(0,30px);
  }
  100% {
  opacity: 1;
  transform: translate(0,0);
  }
}

header,
footer {
  animation: fade var(--timing) var(--bezier) both;
}


header {
  animation-delay: var(--timing);
}

footer {
  animation-delay: calc(2*var(--timing));
}
